@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Gift Card | Get Gift Cards on on RechargeZap";
    Layout = "~/Views/Shared/SharedLayoutNewDesign.cshtml";
}

<div class="breadcrumbsection">
    <div class="container-fluid">
        <div class="row">
            <nav class="" aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: transparent !important;padding: 0;margin: 0;">
                    <li class="breadcrumb-item"><a href="/">Gift Voucher</a></li>
                    <li class="active breadcrumb-item" aria-current="page">Gift Detail</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<section>
    <div class="product_details">
        <div class="product_detail_wrap">
            <div class="row aligncenter">
                <div class="col-md-3">
                    <div class="proimg">
                        @*<img src="./img/small-banner/pizzahut.webp" alt="product_image" />*@
                        @Html.Raw(ViewBag.str_brandimage)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="prosecbox">
                        <div class="protext">
                            <input type="hidden" id="BrandImage" value="@ViewBag.str_brandimage2" />
                            <input type="hidden" id="DenominationOrg" value="0" />
                            <input type="hidden" id="ProductCode" value="@ViewBag.str_brandproductcode" />
                            <h3 id="brandName">@ViewBag.str_brandname</h3>
                            <h6 id="brandType">@ViewBag.str_brandtype</h6>
                            <p>
                                @Html.Raw(ViewBag.str_description)
                            </p>
                        </div>
                        <div class="prowrap">
                            <div class="prowrap_text">
                                <p>select your voucher;</p>
                            </div>
                            <div class="prowrap_box">

                                @foreach (var dr in ViewBag.DenominationTable.Rows)
                                {
                                    <div class="btnprowrap">
                                        <div class="pricing_sec active" onclick="voucherprice(@dr["denomination"],'value','discount','saving','remaining','count')">
                                            @Html.Raw(ViewBag.str_brandimage)
                                            <span>₹ @dr["denomination"]</span>
                                        </div>
                                        <div class="table_sec_col">
                                            <div class="counter countdec" onclick="decval1(@dr["denomination"],'value','discount','saving','remaining','count')">-</div>
                                            <div class="counter count"><span id="count">1</span></div>
                                            <div class="counter countinc" onclick="incval1(@dr["denomination"],'value','discount','saving','remaining','count')">+</div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        @*<div class="prowrap">
            <div class="prowrap_text">



                <p>select your voucher;</p>
            </div>
            <div class="prowrap_box">

                @foreach (var dr in ViewBag.DenominationTable.Rows)
                {

                    <div class="pricing_sec active" onclick="voucherprice(@dr["denomination"],'value','discount','saving','remaining','count')">
                        @Html.Raw(ViewBag.str_brandimage)
                        <span>₹ @dr["denomination"]</span>
                    </div>

                }



            </div>
        </div>*@
                        <div class="price_table">
                            <div class="table_row">
                                <div class="table_first_col">
                                    <span>Shopable Amount</span>
                                    <span>₹ <span id="value">0</span></span>
                                </div>
                            </div>
                            <div class="table_row">
                                <div class="table_first_col">
                                    <span>Discount(%)</span>
                                    <span id="discount">@ViewBag.str_Discount</span>
                                </div>
                            </div>
                            <div class="table_row">
                                <div class="table_first_col">
                                    <span>Savings</span>
                                    <span>₹ <span id="saving">0</span></span>
                                </div>
                            </div>
                            <div class="table_row">
                                <div class="table_first_col">
                                    <span>What You Pay</span>
                                    <span>₹ <span id="remaining">0</span></span>
                                </div>
                            </div>
                            <div class="table_row_seclast">
                                <div class="table_sec_col">
                                    <div class="counter" onclick="decval1('value','discount','saving','remaining','count')">-</div>
                                    <div class="counter count"><span id="count">1</span></div>
                                    <div class="counter" onclick="incval1('value','discount','saving','remaining','count')">+</div>
                                </div>
                            </div>
                            <div class="table_row_last">
                                <div class="table_third_col">
                                    <span class="resetMoney" onclick="resetValues()">RESET</span>
                                    @*<span class="addmoney" onclick="addValues('value','discount','saving','remaining','count','tvalue','svalue','pvalue','tcount','tvoucher')">ADD</span>*@
                                    <span class="addmoney" onclick="AddToCart()">ADD</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 cart_box_wrap">
                    <div class="cart_box">
                        <div class="cart_head">
                            <h5>CART</h5>
                        </div>
                        <div class="cartdetail">
                            <p>Total Value</p>
                            <p id="tcountpara" hidden><span id="tcount">0</span> * ₹ <span id="tvoucher">100</span></p>
                            <p>₹ <span id="tvalue">0</span></p>
                        </div>
                        <div class="cartdetail">
                            <p>Total You Save</p>
                            <p>₹ <span id="svalue">0</span></p>
                        </div>
                        <div class="cartdetail">
                            <p>Total You Pay</p>
                            <p>₹ <span id="pvalue">0</span></p>
                        </div>
                        @*<div class="giftinput">
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" value="">I am gifting
                                    </label>
                                </div>
                            </div>
                            <div class="giftinput">
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" value="">Share on whatsapp + Email
                                    </label>
                                </div>
                            </div>*@
                        <div class="cart_btn">
                            <a  href="/Home/CartDetail" class="btn submitcartbtn">View / Edit Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product_detail_wrap">
            <div class="aboutpro">
                <div class="aboutprohead">
                    <h3>How to Use</h3>
                </div>
                <div class="aboutprotext">
                    @*<ol>
                            <li>Do inform the cashier that you plan to use the GV / GC for making payments before billing.</li>
                            <li>More than one GV / GC can be used in one bill.</li>
                            <li>This is a ONE time use GV / GC.</li>
                            <li>No Credit note / Refund for the unused amount of the GV / GC will be given.</li>
                            <li>Yum! Restaurants GV / GC CANNOT be revalidated once expired.</li>
                            <li>Yum! Restaurants GV / GC cannot be redeemed on specific block out dates. Yum! Restaurants may add or delete any date on its sole discretion.</li>
                        </ol>*@
                    @Html.Raw(ViewBag.str_RedeemSteps)
                </div>
            </div>
        </div>
        <div class="product_detail_wrap">
            <div class="aboutpro">
                <div class="aboutprohead">
                    <h3>Important Instructions</h3>
                </div>
                <div class="aboutprotext">
                    <h6>@ViewBag.str_brandname Important Instructions</h6>
                    @*<ul>
                            <li>Multiple Gift Vouchers CAN be used in one bill.</li>
                            <li>One Gift Voucher CANNOT be used multiple times.</li>
                            <li>Gift Vouchers ACCEPTED at all Listed Outlets.</li>
                            <li>Gift Vouchers CANNOT be used Online.</li>
                        </ul>*@
                    @Html.Raw(ViewBag.str_importantInstruction)
                </div>
            </div>
        </div>
        <div class="product_detail_wrap">
            <div class="aboutpro">
                <div class="aboutprohead">
                    <h3>Terms & Conditions</h3>
                </div>
                <div class="aboutprotext">
                    <h6>@ViewBag.str_brandname Terms & Conditions</h6>
                    @*<ol>
                            <li>This is a Yum! Restaurants Insta Gift Voucher (GV) / Gift Card (GC) and would be accepted at listed outlets only.</li>
                            <li>The person who has the Yum! Restaurants GV / GC Code is deemed to be the beneficiary.</li>
                            <li>Do inform the cashier that you plan to use the GV / GC for making payments before billing.</li>
                            <li>More than one GV / GC can be used in one bill.</li>
                            <li>This is a ONE time use GV / GC.</li>
                            <li>No Credit note / Refund for the unused amount of the GV / GC will be given.</li>
                            <li>Yum! Restaurants GV / GC CANNOT be revalidated once expired.</li>
                            <li>Yum! Restaurants GV / GC cannot be redeemed on specific block out dates. Yum! Restaurants may add or delete any date on its sole discretion.</li>
                        </ol>*@
                    @Html.Raw(ViewBag.str_tnc)
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{


    <link href="~/js/toastr/toastr.css" rel="stylesheet" />
    <script src="~/js/toastr/toastr.min.js"></script>

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />*@

    <link href="~/new2/css/cdnjs.cloudflare.com_ajax_libs_OwlCarousel2_2.3.4_assets_owl.carousel.min.css" rel="stylesheet" />
    <link href="~/new2/css/cdnjs.cloudflare.com_ajax_libs_OwlCarousel2_2.3.4_assets_owl.theme.default.min.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="~/new2/js/sanjs.js"></script>
    <script src="~/new2/js/sanprojs.js"></script>
    <script>
        $(document).ready(function () {
            GetCart();
            //getGiftCardCategory();
            //loadGiftCardBrand();
        });


        function getGiftCardCategory() {
            $.ajax({

                url: '/api/Recharge/getGiftCardCategory',
                //data: "{ 'Amount': '" + depositeAmt  + "','userid': '" + '<%=Session["UserId"] %>'  + "','FromWalletAddress': '" + wallet_address  + "','ToWalletAddress': '" + contract_addr  + "','ReferenceId': '" + result  + "'}",
                data: "",
                dataType: "json",
                type: 'GET',
                contentType: "application/json; charset=utf-8",

                success: function (result) {
                    //alert(result);
                    //console.log(result);


                    var giftdata = '';
                    var items = "";
                    $.each(result, function (result, value) {
                        //alert(value);
                        //console.log(value.circlecode);
                        //$("#ddcircle").append($("<option></option>").val(value.circleCode).html(value.circleName));

                        giftdata += '<div class="col-lg-2 col-md-4 col-sm-6"><div class="catgry_card"><div class="catimg"><img src="https://admin.rechargezap.com/admin/SliderImage/' + value.imageName + '" alt="Image" />                        </div>                        <div class="catbox">                            <p class="cardname">' + value.categoryName + '</p>                        </div>                    </div>                </div>';


                    });
                    //console.log(giftdata);
                    divgiftcardcategory.innerHTML = giftdata;
                    //$("#ddcircle").append(items);
                    //toastr.success('Success', result.d);

                },
                beforeSend: function () {
                                                                                                                    /*$("#ddoperatormobile").html('Loading...')*/;
                    //$('#ddcircle').empty().append('<option>Loading...</option>');
                },
                complete: function () {
                    // Code to hide spinner.
                }
            })
        }

        function loadGiftCardBrand() {
            $.ajax({

                url: '/api/Recharge/getGiftCardBrand',
                //data: "{ 'Amount': '" + depositeAmt  + "','userid': '" + '<%=Session["UserId"] %>'  + "','FromWalletAddress': '" + wallet_address  + "','ToWalletAddress': '" + contract_addr  + "','ReferenceId': '" + result  + "'}",
                data: "",
                dataType: "json",
                type: 'GET',
                contentType: "application/json; charset=utf-8",

                success: function (result) {
                    //alert(result);
                    //console.log(result);


                    var giftdata = '';
                    var items = "";
                    $.each(result, function (result, value) {
                        //alert(value);
                        //console.log(value.circlecode);
                        //$("#ddcircle").append($("<option></option>").val(value.circleCode).html(value.circleName));

                        giftdata += ' <div class="col-lg-3 col-md-4 col-sm-6"><a href=/Home/GiftCardDetail?bid="' + value.brandProductCode + '" class="brands_card"><div class="cardimg"><img src="' + value.brandImage + '" alt="card Image" /><div class="brand_Rating"><span class="ratings"></span><span class="ratingsnum">4.6</span></div></div><div class="cardBox"><div class="carddetails"><p class="cardname">' + value.brandName + '</p><p class="carddes">' + value.brandName + '</p></div><div class="cardrewad"><div class="disprice"><span class="descountprice">₹ 2000/-</span><span class="originprice"><del>₹ 2500/-</del></span></div><div class="offpercent">20% OFF</div></div></div></a></div>';

                    });
                    //console.log(giftdata);
                    divgiftcardbrand.innerHTML = giftdata;
                    //$("#ddcircle").append(items);
                    //toastr.success('Success', result.d);

                },
                beforeSend: function () {
                                                                                                                    /*$("#ddoperatormobile").html('Loading...')*/;
                    //$('#ddcircle').empty().append('<option>Loading...</option>');
                },
                complete: function () {
                    // Code to hide spinner.
                }
            })
        }
        function GetCart() {

            //alert($('#DenominationOrg').val());

            $.ajax({
                url: '/Home/GetCart', type: 'post', dataType: 'json',
                //data: { 'productCode': $('#ProductCode').val(), 'denomination': $('#DenominationOrg').val(), 'qty': document.getElementById("count").innerHTML, 'discount': document.getElementById("discount").innerHTML, 'brandImage': $('#BrandImage').val(), 'brandName': document.getElementById("brandName").innerHTML },
                success: function (data) {
                    console.log(data);
                    //$("#divload").css({ 'display': 'none' });
                    //$('#myModal').modal('hide');
                    //alert('Details Edited SUccessfully');
                    //window.location.href = '/Admin/DayBook';
                    //toastr.success('Success', 'Gift Card Added To Cart Successfully');

                    var totalamount = parseFloat('0');
                    var totaldiscount = parseFloat('0');
                    var finalamount = parseFloat('0');

                    data.forEach((element, index, array) => {
                        //console.log(element); // 100, 200, 300
                        //console.log(element.discount); // 100, 200, 300
                        //console.log(index); // 0, 1, 2
                        //console.log(array); // same myArray object 3 times

                        totalamount += (parseFloat(element.denomnation) * parseFloat(element.quantity));
                        totaldiscount += ((parseFloat(element.denomnation) * parseFloat(element.quantity)) * parseFloat(element.discount)) / 100;
                    });
                    finalamount = totalamount - totaldiscount;

                    document.getElementById("tvalue").innerHTML = totalamount;
                    document.getElementById("svalue").innerHTML = totaldiscount;
                    document.getElementById("pvalue").innerHTML = finalamount;



                    //for (var key in data.Object) {
                    //    var obj = data.messages[key];

                    //}

                },
                beforeSend: function () {
                                                                                                    /*$("#ddoperatormobile").html('Loading...')*/;
                    $('#AjaxLoader').show();
                },
                complete: function () {
                    $('#AjaxLoader').hide();
                }

            });

        }

        function AddToCart() {

            //alert($('#DenominationOrg').val());

            if ($('#DenominationOrg').val() != '') {
                if ($('#DenominationOrg').val() != '0') {
                    $.ajax({
                        url: '/Home/AddToCart', type: 'post', dataType: 'json',
                        data: { 'productCode': $('#ProductCode').val(), 'denomination': $('#DenominationOrg').val(), 'qty': document.getElementById("count").innerHTML, 'discount': document.getElementById("discount").innerHTML, 'brandImage': $('#BrandImage').val(), 'brandName': document.getElementById("brandName").innerHTML, 'brandName': document.getElementById("brandType").innerHTML },
                        success: function (data) {
                            console.log(data);
                            //$("#divload").css({ 'display': 'none' });
                            //$('#myModal').modal('hide');
                            //alert('Details Edited SUccessfully');
                            //window.location.href = '/Admin/DayBook';
                            toastr.success('Success', 'Gift Card Added To Cart Successfully');

                            var totalamount = parseFloat('0');
                            var totaldiscount = parseFloat('0');
                            var finalamount = parseFloat('0');

                            data.forEach((element, index, array) => {
                                //console.log(element); // 100, 200, 300
                                //console.log(element.discount); // 100, 200, 300
                                //console.log(index); // 0, 1, 2
                                //console.log(array); // same myArray object 3 times

                                totalamount += (parseFloat(element.denomnation) * parseFloat(element.quantity));
                                totaldiscount += ((parseFloat(element.denomnation) * parseFloat(element.quantity)) * parseFloat(element.discount)) / 100;
                            });
                            finalamount = totalamount - totaldiscount;

                            document.getElementById("tvalue").innerHTML = totalamount;
                            document.getElementById("svalue").innerHTML = totaldiscount;
                            document.getElementById("pvalue").innerHTML = finalamount;



                            //for (var key in data.Object) {
                            //    var obj = data.messages[key];

                            //}

                        },
                        beforeSend: function () {
                                                                                                    /*$("#ddoperatormobile").html('Loading...')*/;
                            $('#AjaxLoader').show();
                        },
                        complete: function () {
                            $('#AjaxLoader').hide();
                        }

                    });
                }
                else {
                    toastr.error('Error', 'Select Denomination');
                }
            }
            else {
                toastr.error('Error', 'Select Denomination');
            }

         

        }

    </script>



}

@section MobileHeader{
    Gift Cards
}